#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/rizki/programming/IDE/TIBCOJaspersoftStudio/icon.xpm
Name[en_US]=Jaspersoft Studio
Exec="/home/rizki/programming/IDE/TIBCOJaspersoftStudio/Jaspersoft Studio"
Name=Jaspersoft Studio
Icon=/home/rizki/programming/IDE/TIBCOJaspersoftStudio/icon.xpm
