#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/rizki/programming/IDE/VSCode/resources/app/resources/linux/vscode.png
Name[en_US]=Visual Studio Code
Exec=/home/rizki/programming/IDE/VSCode/Code
Name=Visual Studio Code
Icon=/home/rizki/programming/IDE/VSCode/resources/app/resources/linux/vscode.png
